{% extends "base.html" %}
{% block title %} Blog Page{% endblock %} 
{% block content %} 

<title>Blog - DexWorld.net</title>

<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='style/mystyle_blog_.css')}}">

<div class="container">

<div class="margin-left">margin-left</div>

<div class="block-left">block-left
{% block blog_post %} {% endblock %} 

</div>

<div class="block-right">block-right</div>
<div class="margin-right">margin-right</div>


</div>




{% endblock %} 
