{% extends "base.html" %}
{% block title %} Blog Page{% endblock %} 
{% block content %} 

<title>Blog - DexWorld.net</title>

<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='style/mystyle_blog_index.css')}}">

<div class="container">

<div class="margin-left">margin-left</div>

<div class="block-left">block-left

<h3>Newest Post</h3>

<div class="post-box"> 
    <h1> Post title </h1>
    <a style="text-align:right"> Date added: </a>
</div>
<div class="post-box"> 
    <h1>Post title</h1>
    <a> Date added: </a>
</div>

<div class="post-box"> 
    <h1>Post title</h1>
    <a> Date added: </a>
</div>

<div class="slider-buttons">
      <a href="#slide-1">1</a>
      <a href="#slide-2">2</a>
      <a href="#slide-3">3</a>
      <a href="#slide-4">4</a>
</div>

</div>

<div class="block-right">block-right</div>
<div class="margin-right">margin-right</div>



{% endblock %} 
