body {
  background-color: #000000;
  font-family: Times, "Times New Roman", Georgia, serif 
  }

.container {
    width: 100vw;
    
    box-sizing: border-box;
    
    font-family: Times, "Times New Roman", Georgia, serif;  

    display: grid;
    color:red;

    grid-template-columns: 200px 600px 1fr 200px;
    grid-template-rows: 1fr 1fr 1fr 
    
   /* box-sizing: border-box;*/
    overflow:scroll;
    /*flex-direction: row
    justify-content: space;
    align-items: baseline;
    flex-wrap: nowrap;*/   
}

.container div {
    padding:0px;
   /* border: 1px solid #000000; */
}


.margin-left{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: span 3;
    
      color:white;
      /*border: 1px solid red;*/
}

.blog-block {}

.block-left {      
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: span 3;
    
      /*border: 1px solid red;*/
 
      background-color:#202f37;  
}

.block-left h1, .block-right h1 {      
      color:white;
      padding: 50px 50px 20px 75px;
      text-align: center;
      font-family: Times, "Times New Roman", Georgia, serif;
      }


.block-left p, .block-right p {      
      color:white;
      padding: 50px 50px 20px 75px;
      font-size: 18px;
      }

.block-right {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: span 3;

      background-color:#202f37;
      color:white;
      
      /*border: 1px solid red;*/

}

.margin-right {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: span 3;
      
      color:white;
      /*border: 1px solid red;*/
}

.footer {
     background-color: black; 
     grid-column-start: 1;
     grid-column-end: 6;
     
     grid-row-start: 10;
     grid-row-end:span 1 ;
            
     box-sizing: border-box;
     border: 1px solid #000000;
     
     text-align: center;
     }
       